
.heading {
    font-size: 40px;
    font-weight: 600;
    color: #2c60af;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    white-space: nowrap;
}

.heading h1{
    margin: 0;
    
    
}


.heading img {
    width: 150px;
    height: auto;
    margin-top:20px;
    margin-right: 10px;
}

.form_container {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 400px;
    box-shadow: 3px 4px 36px -6px rgba(0, 0, 0, 0.644);
    border-radius: 50px;
    background-color:#2a303b ;
}

.login-backward {
    position: absolute;
    top: 1rem; 
    left: 1rem;
    width: auto;
}

.login-backward-button{
    display: flex;
    position: absolute; 
    align-items: center;
    top: auto; 
    left: 1rem;
    cursor: pointer;
}

.login-backward-button img{
    width: 1rem;
}

.login-backward-button h1{
    margin-left: 0.5rem;
    font-size: 1.2rem;
}


.form_container h1{
    color: rgb(111, 165, 212);
}


.login-parent-container {
    display: flex;
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    height: 100vh; /* 使父容器佔滿整個視窗高度 */
}


.input {
    width: 320px;
    height: 35px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border: 1px solid #2c444e;
    border-radius: 2px;
    font-size: 13px;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 25px;
    color: white;
    background-color: #ffc801;
    border-radius: 12px;
    outline: none;
    border: none;
    cursor: pointer;
}



.google_btn {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #2c444e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.google_btn > img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.google_btn > span{
    margin-left: 10px;
}

.login-other-option{
    display: flex;
    justify-content: center;
    align-items: center; /* 垂直置中 */
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.login-other-option p{
    color: #0a6264;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
    text-align: center;
}





.login-other-option-button{
    color: #000000;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    width: 8rem;
    height: 3rem;
}



@media (max-width: 600px) {
    .form_container {
        width: 90%;
    }

    .form_container h1{
        font-size: 30px;
    }

    .heading img{
        width: 30%;
    }

    .heading {
        margin-top: 20px;
        width: 80%;
        font-size: 2rem;
    }
    
    .input {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    .google_btn {
        width: 60%;
    }
    .login-other-option {
        width: 80%;
    }
    .login-other-option-button-container {
        width: 80%;
    }

    .login-other-option-button{
        height: 1.8rem;
    }


}