.main_box{
    color:#ffffff;
    background-color: #20212d;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    height: 100px;
    margin:5px 20px 5px 20px;
}

.main_box img{
    margin-right: 15px;
    width: 40px;
    height: auto;
}

.cutline{
    border-top: 1px solid #292929;
    margin: 20px 20px 20px 20px;
}