
.main_box,.member-status-container{
    position: relative;
    color:#ffffff;
    background-color: #20212d;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 1rem;
    padding-left: 1rem;
    font-family: sans-serif ;
    height: 6rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.main_box p{
    font-size: 1.2rem;
    margin: 0;
}

.main_box img{
    margin-right: 1rem;
    width: auto;
    height: auto;
}

.cutline{
    border-top: 1px solid #5a5656;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

/* 圓形固定按鈕樣式 */
.floating-button {
position: fixed;
bottom: 1.5rem;
right: 1.5rem;
width: 4rem;
height: 4rem;
background-color: #f39c12;
color: white;
border: none;
border-radius: 50%;
font-size: 2rem;
cursor: pointer;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* 彈出視窗背景 */
.modal {
display: none; /* 默认隐藏 */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

/* 彈出視窗內容 */
.modal-content {
background-color: white;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 500px; 
text-align: center;
}

/* 關閉按鈕 */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.member-status-title {
    position: absolute;
    top: 0; 
    height: 3rem;
    width: 100%;
}

.member-status-title h1{
    position: absolute;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0.2rem;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.member-status-title::after {
    content: ""; /* 確保分割線顯示 */
    position: absolute;
    width: 100%; /* 覆蓋整個寬度 */
    height: 1px; /* 設置分割線的高度 */
    background-color: #4a4a4de2; /* 設置分割線的顏色 */
    left: 0;
    z-index: 1;
}

.member-status-title::after {
    bottom: 0; /* 將分割線放置在 .payment-title 的底部 */
}

.member-status-sheet {
    display: flex;
    position: relative;
    top: 0; 
    height: auto;
    width: 0%;
    background-color: #da1010;
    margin-top: 3rem;
    align-items: center;
}


.member-status {
    display: flex;
    position: relative;
    width: 100%;
    white-space: nowrap;
    margin: 1rem;
    align-items: center; 
}

.member-status-first-column{
    justify-content: flex-start;
}

.member-status-second-column {
    position: relative;
    right: 50%;

}

.member-status-content {
    display: flex;
    position: relative;
    width: 50%;
    white-space: nowrap;
    margin: 1rem;
    justify-content: space-between; /* 第一列貼緊開始位置，第二列貼緊結束位置 */
    align-items: center; /* 子元素在交叉軸上居中對齊 */
}
.member-status-member-type{
    margin-top: 1rem;
    display: flex;
    position: relative;
    width: 100%;
    white-space: nowrap;
    align-items: center; 
}