.homepage{
  margin-top: 5rem;
  justify-content: center; /* 水平置中 *//* 使父容器佔滿整個視窗高度 */
  background-color: var(--dlbackground-color);
}

.web-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.web-web {
  width: 100%;
  height: 1335px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-background-color);
}

.web-profile {
  gap: 48px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 0px;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: 0px;
  justify-content: center;
}

.web-photo-and-name {
  gap: 24px;
  height: 100%;
  width: 20vw;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  margin-left: var(--dl-space-space-twounits); 
}

.web-ellipse1 {
  width: auto;
  height: 150px;
  border-radius: 100%;
}

.web-discord {
  cursor: pointer;
  height: 50px;
  display: flex;
  padding: 2px 20px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  justify-content: center;
  background-color: rgba(92, 92, 92, 1);
}

.web-discord span{
  color: rgba(233, 232, 232, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.web-discord img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 100%;
}

/* From Uiverse.io by gagan-gv */ 
.dcbtn {
  width:150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  justify-items: center;
  align-items: center;
  background: var(--dl-component-box-color);
  color: #000000;
  position: relative;
}

.dcbtn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.dcbtn img {
  position: absolute;
  height: 40px;
  width: auto;
  display: flex;
  transition: all 0.5s;
}

.dcbtn .dctext {
  transform: translateX(1rem);
}

.dcbtn:hover .dctext {
  transition: all 0.5s;
  opacity: 0;
}

.dcbtn:hover img {
  transform: translateX(120%);
}

.dcbtn:focus {
  outline: none;
}

.dcbtn:active img {
  transform: scale(0.85);
}
/**/



.web-discord .discord-user-name{
  font-size: 1.2rem;
  font-weight: 600;
  color:#04012f;
}

.web-personal-info {
  flex: 1;
  width: 80vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  border-radius: 25px;

  justify-content: center;
  background-color: rgba(92, 92, 92, 1);
  flex-direction: row;
  padding: 25px;
}

.member-status-title {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color:#000000;
  height: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.member-status-title::after {
  content: ""; /* 確保分割線顯示 */
  position: absolute;
  width: 100%; /* 覆蓋整個寬度 */
  height: 1px; /* 設置分割線的高度 */
  background-color: #000000e2; /* 設置分割線的顏色 */
  left: 0;
  z-index: 1;
  bottom: 0;
}

.status-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 1rem; 
  width: 100% ;
}

.status-box-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  color:#cac5c5
}

.status-box-text{
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;  
  color:#ffffff
}

.web-info {
  gap: 48px;
  flex: 1;
  height: auto;
  display: flex;
  width: auto;
  flex-wrap: wrap;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}

.web-frame1 {
  gap: 10px;
  display: flex;
  padding: 25px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  background-color: rgba(92, 92, 92, 1);
}

.web-text26 {
  color: rgba(233, 232, 232, 1);
  width: 108px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.web-frame2 {
  gap: 10px;
  display: flex;
  padding: 25px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  background-color: rgba(92, 92, 92, 1);
}

.web-text28 {
  color: rgba(233, 232, 232, 1);
  width: 122px;
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.web-text30 {
  color: rgba(233, 232, 232, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.floating-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: auto;
  height: auto;
  background-color: #f39c12;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  opacity:0.5;
  border-radius: 1rem;
  padding:1rem 1rem;
}

.floating-button:hover {
  opacity:1;
}

.swal-html-container span{
  font-size: 1.5rem;
  color: #ff0000;
}

.swal-title{
  color: #ffffff;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


@media(max-width: 991px) {
  .web-web {
    width: 100%;
    margin-right: 0px;
  }

  .web-photo-and-name {
    margin-left: 0px;
  }

  .status-container{
    grid-template-columns: 1fr 1fr;
  }

}
@media(max-width: 767px) {
  .web-web {
    width: 100%;
  }
  
  .web-photo-and-name {
    margin-left: 0px;
  }

  .status-container{
    grid-template-columns: 1fr 1fr;
  }

}
@media(max-width: 479px) {
  .web-web {
    height: auto;
  }

  .web-profile
  {
    align-self: center;
  }

  .web-photo-and-name {
    margin-left: 0px;
  }

  .status-box-title{
    font-size: 1rem;
  }
  
  .status-container{
    grid-template-columns: 1fr 1fr;
  }


}
