.footer {
    background-color: #350505; /* 黑色背景 */
    color: #fff; /* 文字顏色 */
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content a {
    margin: 0 10px;
  }
  