body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #282c34; /* 深色背景 */
  color: #61dafb; /* 文字顏色 */
  overflow-x: hidden; /* 防止水平滾動 */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 使 body 高度至少佔滿視口 */
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1;
  padding: 20px;
}

/* Header 樣式 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; 
  color: #fff; 
  padding: 0; 
  margin: 0; 
  width: 100%; 
  height: 80px;
  box-sizing: border-box; 
}

.header img {
  height: 40px; /* 標誌高度 */
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo h1 {
  margin: 0;
  margin-left: 10px;
}

.header .user-actions {
  display: flex;
  align-items: center;
}

.header .user-actions img {
  height: 40px; /* 使用者頭像高度 */
  border-radius: 50%; /* 圓形頭像 */
  margin-left: 10px;
}

.header .user-actions button {
  background: transparent;
  border: none;
  color: #61dafb;
  font-size: 16px;
  cursor: pointer;
}

/* Footer 樣式 */
.footer {
  background-color: #000; /* 黑色背景 */
  color: #fff; /* 文字顏色 */
  padding: 20px;
  text-align: center;

}

  