<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .loader {
      border: 6px dashed #000000 ; /* Light grey */
      border-top: 6px solid #ffffff; /* Blue */
      border-radius: 500%;
      width: 40px;
      height: 40px;
      animation: slidein 1s linear infinite;
    }
  </style>
</head>
<body>
  <h2>Animated Loader</h2>
  <p>An animated loader:</p>
  <div class="loader"></div>
  <p><b>Note:</b> The border-radius property transforms the loader into a circle.</p>
  <style>
    @keyframes slidein {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
  
</body>
</html>