.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    flex-direction: row;
  }
  
  .logo img {
    margin-top: 10px;
    height: 120px !important;
    width: auto !important;
  }
  
  .club-name {
    font-size: 40px;
    color: #ffffff;
    margin-right: auto;
    margin-left: 5px;
    flex-direction: column;
  }

  .club-name h1 {
    font-family: Georgia, serif;
    font-size: 20px;
    margin: 0;
  }

  .club-name h2 {
    font-family: Georgia, serif;
    font-size: 20px;
    margin: 0;
    
  }


  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .login-button {
    margin-right: 10px;
    background-color: #680563;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .user-avatar {
    width: 40px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
  }