body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #ffffff;
  }
  
  a {
    color: #03a9f4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  .preview-body{
    padding-top: 5rem;
  }
  
  .Slider-container{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 2;
  }

  .Slider-container img{
    width: 400px;
    height: auto;
    margin:auto;
  }

  .preview-course-title{
    font-size: 2rem;
    color: #db1414;
    text-align: center;
    margin: 20px 0;
    justify-content: center;
  }

  .preview-project-title{
    font-size: 2rem;
    color: #523bd3;
    text-align: center;
    margin: 20px 0;
    justify-content: center;
  }


  .center-slide {
    transform: scale(1.2); /* 放大中心元素 */
    transition: transform 0.3s ease;
  }
  
  .small-slide {
    transform: scale(0.8); /* 縮小非中心元素 */
    transition: transform 0.3s ease;
  }
