.breadcrumb {
    color:#ffffff;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 20px 10px 25px;
}

.breadcrumb li {
    margin-right: 5px;
}

.breadcrumb li + li::before {
    content: ">>";
    margin-right: 5px;
}

.breadcrumb a {
    text-decoration: none;
    color: gray;
}

.breadcrumb span {
    color: gray;
}